{
    "extends": "airbnb",
    "rules": {
      "indent": 0,
      "react/jsx-indent-props": [1,4],
      "comma-dangle": 0,
      "react/prop-types": 0,
      "react/sort-comp": 0
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}